body {
    background-color: #b3b300;
}

#reccomended {
    display: none;
    background-color: deepskyblue;
}

#latest {
    background-color: turquoise;
}

#notavailabletext {
    /*display: none;*/
}

#olderversionslink {
    /*display: none;*/
}